.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.social-buttons {
  display: flex;
  align-items: center;
}

.circle-button {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 50px;
  height: 50px;
  margin: 20px;
  background-color: #FFE9E9;
  border-radius: 50%;
  padding: 10px;
}
.circle-button i {
  font-size: 40x; /* Adjust the font size as needed */
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #000; /* Adjust the color as needed */
  margin: 0 10px; /* Adjust the margin to control the spacing */
}

.img-fluid {
 margin: 0 50px 0 50px;
}